@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: black;
    color: white;
}

.card {
    background: rgb(19, 19, 19);
}

.header {
    background: #252525;
}

@media (max-width: 430px) {
    .card-image {
        width: 152px;
    }

    .card {
        width: 170px;
        height: 359px;
    }
}